.map3 {
    margin-top: 102px;
    display: flex;
    margin-left: 38px;
    align-items: center;
    height: 603px;
    width: 380px;
    /* transform: scale(1.5); */
}

.map5{
    position: absolute;
    top: 59%;
    left: 47%;
   
}


.map6{
    position: absolute;
    top: 67%;
    left: 23%;
}