.map3 {
    margin-top: 160px;
    display: flex;
    align-items: center;
    height: 516px;
    width: 380px;
    /* transform: scale(1.5); */
}


.map5{
    position: absolute;
    top: 55%;
    left: 47%;
   
}


.map6{
    position: absolute;
    top: 64%;
    left: 17%;
}