/* * {
    margin: 0;
    padding: 0;
  } */
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: calc(100vh);
  
    overflow: hidden;
    margin-left: 20px;
  }